# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

/dist
/pico_front
revision.json
/build

# local env files
.env
.env.local
.env.*.local

# Log files
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sonar
.sonar
.scannerwork
coverage
